html {
    background-image: url(http://images8.alphacoders.com/397/397989.jpg);
}
 
div {
    border-style: solid; 
    border-width: 5px; 
    padding: 30px; 
    border-color: green;
}
 
.container {
   border-color: blue; 
} 
 
.row {
    border-color: red;
} 
 
.list-group-item {
    border: 0; 
    margin-top: 40px; 
    margin-bottom: 40px
}  
 


 

